.column-title {
    text-align: center;
}

.puzzle {
    text-align: center;
}

.submit-button {
    text-align: center;
}

.stage-section {
    text-align: center;
}

.hint-text-section {
    text-align: center;
}

.submit-fail{
    text-align: center;
}

.scrolling-top{
    margin-top:0px;
    margin-bottom:0px;
}

.contact-me{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer {
    position: fixed;
    height: auto;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #e9ecef;
    vertical-align: middle;
}

body {
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

ul {
    list-style-type: none;
}

ul {
    padding-left: 0px;
}

table {
    /* cellspacing */
    height: 100%;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

tr{text-align: center;}
